<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<title>4 Question</title>
		<script type="text/javascript" src="/4.js"></script>
	</head>
	<body ng-app="app">
		<div ng-controller="appController">
			<form novalidate class="container">
				<h1>Question 4</h1>
				<div class="form-group">
					<select id="day" class="form-control input-sm" name="day" ng-model="day" required ng-change="changeDate()">
						<option ng-repeat="d in dayArr" value="{{d}}">{{d}}</option>
					</select>
				</div>
				<div class="form-group">
					<select id="month" class="form-control input-sm" name="month" ng-model="month" required ng-change="changeDate()">
						<option value="0">Jan</option>
						<option value="1">Feb</option>
						<option value="2">Mar</option>
						<option value="3">Apr</option>
						<option value="4">May</option>
						<option value="5">Jun</option>
						<option value="6">Jul</option>
						<option value="7">Aug</option>
						<option value="8">Sep</option>
						<option value="9">Oct</option>
						<option value="10">Nov</option>
						<option value="11">Dec</option>
					</select>
				</div>
				<div class="form-group">
					<input id="year" class="form-control input-sm" name="year" type="number" ng-model="year" required ng-change="changeDate()" />
				</div>
				<div>Selected date: <b>{{d | date: "yyyy-MM-dd"}}</d></div>
			</form>
		</div>
	</body>
</html>
