<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<title>5 Question</title>
		<script type="text/javascript" src="/5.js"></script>
	</head>
	<body ng-app="app">
		<div class="container">
			<div ng-controller="appController">
				<form ng-submit="addOp()" ng-init="f = {}">
					<h1>Question 5</h1>
					<div class="form-group">
						<select id="operation" class="form-control input-sm" name="operation" ng-model="f.operation" required>
							<option value="move">Move</option>
							<option value="insert">Insert</option>
							<option value="delete">Delete</option>
						</select>
					</div>
					<div class="form-group">
						<input id="data" class="form-control input-sm" name="data" type="number" ng-model="f.data" required ng-if="f.operation == 'move' || f.operation == 'delete'" />
						<input id="data" class="form-control input-sm" name="data" type="text" ng-model="f.data" required ng-if="!(f.operation == 'move' || f.operation == 'delete')" />
					</div>
					<button type="submit" class="float-right btn btn-primary">Add OP</button>
				</form>
				<div ng-if="operation.data.length">
					<br />
					<br />
					<h2>Pending Operations</h2>
					<div ng-repeat="data in operation.data">
						<div ng-repeat="(key, value) in data">
							<b ng-switch on="key">
								<span ng-switch-when="move">Move</span>
								<span ng-switch-when="insert">Insert</span>
								<span ng-switch-when="delete">Delete</span>
							</b> <span>{{value}}</span>
						</div>
					</div>
					<button type="button" class="btn btn-warning float-right" ng-click="apply()">Apply</button>
				</div>
				<div class="clearfix"></div>
				<div ng-if="string">Result: <b>{{string}}</b></div>
			</div>
		</div>
	</body>
</html>
